body{
	background-color: black;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
																background-color: navy;
																border-radius: 25px;
}

img{
	width: 300px;
	height: 300px;

}

div{
		float: left;
		width:300px;
		height: 300px;
		margin-right:10px;
		margin-bottom:30px;
		box-sizing: border-box;
	}

.one{
		position: absolute;
   	 	left: 50px;
    	top: 50px;	}

.two{
		position: absolute;
    	left: 375px;
   		top: 50px;
	}

.three{
		position: absolute;
    	left: 700px;
    	top: 50px;
	}

.four{
		position: absolute;
    	left: 50px;
    	top: 375px;
	}

.five{
		position: absolute;
    	left: 375px;
    	top: 375px;
	}

.six{
		position: absolute;
    	left: 700px;
    	top: 375px;
	}

.seven{
		position: absolute;
    	left: 50px;
    	top: 700px;
	}

.eight{
		position: absolute;
    	left: 375px;
    	top: 700px;
	}

.nine{
		position: absolute;
    	left: 700px;
   		top: 700px;
	}









